:root{
  --ink:#07090d;
  --text:#8a9bb0;
  --white:#eef4ff;
  --A:#00c8f0;
}

/* RESET */
*{margin:0;padding:0;box-sizing:border-box;}

body{
  background:var(--ink);
  color:var(--text);
  font-family:'DM Sans',sans-serif;
  cursor:none;
}

/* NAV */
nav{
  position:fixed;
  top:0;
  width:100%;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
}

.nlogo{
  color:var(--A);
  font-size:24px;
}

nav a{
  color:var(--text);
  text-decoration:none;
}

/* HERO */
#home{
  min-height:100vh;
  display:flex;
  align-items:center;
  padding:100px 40px;
}

.hname{
  font-size:80px;
  color:var(--white);
}

.hdesc{
  margin-top:20px;
}